
<h2 class="m-5 p-2">All Lists</h2>
<div class="cards container m-5 p-2 ">
  <% @lists.each do |list| %>
  <div class="card-product">
  <div class="card-product-infos">
   <h1><%= link_to list.name, list_path(list) %></h1>
  </div>
  </div>
    <% end %>
  </div>
