<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.pixabay.com/photo/2016/06/03/12/42/popcorn-1433327_960_720.jpg);">
  <div class="text-banner px-4 py-4">
    <% if current_user%>
      <h3 class="fw-bold fs-1">Bem Vindo(a) <%= current_user.nickname %>
      <%else%>
        <h3 class="fw-bold fs-1">Bem vindo(a) ao MyMovies!</h3>
      <%end%>
    </div>
       <%= form_with url: lists_path,
                        method: :get,
                        class: "d-flex",
                        data: {turbo_frame: 'search', controller: 'search'} do |f| %>
            <%= f.text_field :query,
                            value: params[:query],
                            class: "form-control mx-4 my-5",
                            type: "search",
                            placeholder: "Buscar listas...",
                            label: "Search",
                            data: {action: 'keyup->search#perform'} %>
          <% end %>
  </div>
</div>
