<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(assets/banner2.png);">
  <div class="container d-flex">
  <div>
    <h1 class="text-banner">Crie uma nova </p> lista de filmes ou </p> encontre uma boa</p> recomendação para </p>assistir e </p>divirta-se!</h1>
    </div>
    <div class="">
    <a class="btn-banner btn btn-light text-light" href="lists/new">Nova Lista</a>
    </div>
</div>
</div>
