<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://img.freepik.com/fotos-gratis/variedade-de-elementos-de-cinema-em-fundo-vermelho-com-espaco-de-copia_23-2148457848.jpg?w=900&t=st=1670876096~exp=1670876696~hmac=7c0d5495a620568e39a69d0e75be1aa2df4a74af4c38bf5b6da8e93700cf02df);">
  <div class="container">
  <div>
    <h1 class="text-banner">Crie uma nova </p> lista de filmes ou </p> encontre uma boa</p> recomendação para </p>assistir e </p>divirta-se!</h1>
    </div>
    <br/>
    <br/>
    <div class="">
    <a class="btn-banner btn btn-light text-light" href="lists/new">Nova Lista</a>
    </div>
</div>
</div>
