<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://img.freepik.com/vetores-gratis/ilustracao-com-videocamera-cinema-ripa-de-pipoca-e-oculos-3d_157027-458.jpg?w=826&t=st=1670812023~exp=1670812623~hmac=7bc70190157cfbea88e8f81359b6273ae27dc96fe686bdedbf26aa0d7333fb1e);">
  <div class="container">
  <div>
    <h1 class="text-banner">Crie uma nova </p> lista de filmes ou </p> encontre uma boa</p> recomendação para </p>assistir e </p>divirta-se!</h1>
    </div>
    <br/>
    <br/>
    <div class="">
    <a class="btn-banner btn btn-light text-dark" href="lists/new">Nova Lista</a>
    </div>
</div>
</div>
