.btn-ghost {
  color: #ffffff;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}



.btn-banner {
  background-color: rgb(255, 244, 244);
  border-radius: 50px;
  border: rgb(255, 246, 246);
  font-family: monospace;
}
